
 {% extends 'base.html' %}


{% block title %} Contact Me{% endblock title %}

{% block contactactive %} active {% endblock contactactive %}


{% block body %}

<div class="container">

<form action="/contact/" method="post" enctype="multipart/form-data" >
   {% comment %} {% @csrf_exempt %} {% endcomment %}
  {%csrf_token %} 
  <h2>Contact me!</h2>
   <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Shubhanshu Nishad" required>
  </div>


<div class="form-group">
    <label for="email">Email address</label>
   <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="metaeducator@gmail.com" name="email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


   <div class="form-group">
    <label for="phone">Your Phone Number (with country code)</label>
    <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phone" placeholder="Enter your Phone Number (with country code)"  required>
  </div>
<div class="form-group">
    <label for="desc">Description</label>

    <textarea class="form-control" id="content" name="content" cols="10" rows="5"></textarea>
  
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
<br>

{% endblock body %}