{%  extends 'base.html' %}

{% block title %} META Winners & Certificate {% endblock title %}
{% block W&Cactive %} active {% endblock W&Cactive %}
{% load static %}
{% block css %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/album.css" rel="stylesheet">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
{% endblock css %}


{% block body %}
<br>
<br>
<br>
   <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><b><i>WINNER & CERTIFICATE</i></b></h1>
          <p class="lead text-muted"><b>एक हारा हुआ ईन्सान, हारने के बाद भी स्माईल करे तो,
जितने वाला अपनी जीत की खुशी खो देता है।</b></p>
          <p>
          <p class="lead text-muted"> <b>
A loser, if he smiles even after losing,
The one who loses the joy of his victory.</b></p>
          <p>
            <a href="#" class="btn btn-primary my-2">Be Happy</a>
            <a href="#" class="btn btn-secondary my-2">Be Kind</a>
          </p>
        </div>
      </section>
<div class="b-example-divider"></div>
  {%for Winner in Winners %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{Winner.img_link}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h2 class="display-5 fw-bold lh-1 mb-3">{{Winner.winner_name| safe}}</h2>
        <p class="lead">{{Winner.winner_desc| safe}}</p>
        <p> <span class="badge badge-secondary">{{Winner.timeStamp}}</span></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="{{Winner.url}}" target='blank'>{{Winner.url_name}}</a></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>








    </main>


{% endblock  %}

{% block js %}
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

{% endblock js %}