<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <style>
        #mytextarea{
            height: 80vh;
        }
    </style>
    <script>
      tinymce.init({
        selector: '#mytextarea',
        // theme : 'modern',
        plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help', 'image code' ,'ExportToDoc','spellchecker',
    ],
    toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | spellchecker' +
      'forecolor backcolor emoticons | help | ExportToDoc', 
      toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help | ExportToDoc ',

      tinymce.activeEditor.execCommand('mceSpellCheck'),

      menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help | tools ',
   
    

    


    image_advtab: true,
    etd_file_name: "tinymce-content",
      // enable title field in the Image dialog
  image_title: true, 
  // enable automatic uploads of images represented by blob or data URIs
  automatic_uploads: true,
  // add custom filepicker only to Image dialog
  file_picker_types: 'image',
  file_picker_callback: function(cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    input.onchange = function() {
      var file = this.files[0];
      var reader = new FileReader();
      
      reader.onload = function () {
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        // call the callback and populate the Title field with the file name
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };
    
    input.click();
  },
  spellchecker_callback: function (method, text, success, failure) {
    var words = text.match(this.getWordCharPattern());
    if (method === "spellcheck") {
      var suggestions = {};
      for (var i = 0; i < words.length; i++) {
        suggestions[words[i]] = ["First", "Second"];
      }
      success({ words: suggestions, dictionary: [ ] });
    } else if (method === "addToDictionary") {
      // Add word to dictionary here
      success();
    }
  },
    
    content_css: 'css/content.css'
     });
    
    </script>
  </head>

  <body>
  <h1>TinyMCE Quick Start Guide</h1>
    <form method="post">
      <textarea id="mytextarea">Hello, World!</textarea>
    </form>
    <button id='bt'> Get HTML </button>
    <div id='myhtml'>

    </div>
  </body>
  <script>
       bt.addEventListener('click',(e)=>{
         console.log(e)
        myhtml.innerText=tinyMCE.get('mytextarea').getContent();
     })
  </script>
</html>

   <!-- for img-responsive -->
        <!-- <img class="img-responsive mx-auto d-block " src="/static/image/paytm1.jpg"
            style="height:auto; max-width:100%;border:none; display:block;" alt="" /> -->

{%  extends 'base.html' %}

{% block title %} META blog Reading {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
{% load extras  %}
{% block css %}
<style>
  pre {
    max-height: 59vh;
  }

  .container {
    min-height: 90vh;
  }

  .commentContainer pre {
    font-size: 14pt;
    font-family: helvetica;

  }

  @media only screen and (max-width: 575px) {
    img.rounded-circle {
      height: 0px;
      visibility: hidden;
    }
  }
</style>

{% endblock css %}

<!-- #for rendering post............................................................................................................. -->



<div role="main" class="container">
  <br>
  <div class="blog-post">
    <h3 class="blog-post-title">{{readpost.title}} </h3>
    <p class=" badge badge-secondary">{{readpost.timeStamp}} </p>
    <h6>by {{readpost.author}}</h6>
    <div class="pb-4 mb-4 font-italic border-bottom"> {{readpost.content| safe}} </div>
  </div>



<!-- #for posting comment.......................................................................................................... -->
<div>
{% if user.is_authenticated %}

<form action="/blogread/postcomment/" method="POST">
  <div class="col-sm-3 col-lg-1 col-xl-1">

    <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/users.png">
  </div>
  <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
    <div class="my-2 mx-2">
      <h4> {{user.username}}</h4>
      <input type="text" class="form-control" id="comment" name="comment" required
        placeholder="Enter your comment here.">
      <input type="hidden" name="PostSno" value="{{readpost.sno}}">
      <input type="hidden" name="parantSno" value="">
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Post</button>
  </div>
</form>
</div>
</div>


<!-- for those who are not login .................................................................................................. -->

<div class="container">
{% else %}
<h5>Please login to comments</h5>
<!-- <input type="text" class="form-control" id="comment" name="comment" required placeholder="Enter your comment here.">
  <div class="btn-group btn-" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-danger" disabled>Post</button>
  </div> -->
<div class="col-sm-3 col-lg-1 col-xl-1">
  <img class="w-100 d-block mx-auto rounded-circle " src="/static/image/user.png">
</div>
<div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
  <div class="my-2 mx-2">
    <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter your comment here.">
  </div>
  <button class="btn btn-danger my-2 btn-sm" type="button" disabled> Post </button>
</div>
{% endif %}


<!-- # comment senction ............................................................................................................... -->


  <h3>Comments ({{comments.count}})</h3>
  {% load humanize %}
  {% for comment in comments  reversed %}
  <div style="background-color:rgb(232, 228, 227);">
    <div class="row mt-4">
      <div class="col-sm-3 col-lg-1 col-xl-1">
        <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/user.png">
      </div>
      <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
        <div class="my-2 mx-2">
          <b>{{comment.user.username}}</b> <span
          class="badge badge-secondary">{{comment.timeStamp | naturaltime }}</span><br>
          <pre>{{comment.comment |escape |linebreaks}}</pre>
        </div>
       {% if user.is_authenticated %}
       <button class="btn btn-danger btn-sm" type="button" data-toggle="collapse"
       data-target="#replybox{{comment.sno}}" aria-expanded="false" aria-controls="replybox{{comment.sno}}">
        Add Reply
        </button>
      </div>
    </div>
    {% else %}
    <!-- <button class="btn btn-danger btn-sm"  disabled> -->
    <button class="btn btn-danger my-2 btn-sm" type="button" disabled> Add Reply </button>
    </div>
    </div>
   <!-- replies are here ............................................................................................................-->

   {% endif %}
   <div>
   <div class="collapse" id="replybox{{comment.sno}}">
     <form action="/blogread/postcomment/" method="post"><input type="hidden" name="csrfmiddlewaretoken"
       value="VepBHkgTaqCtjKhTEDXpeluN8EnGeraQesxlOaIswdeXoBcn5q8O7UAU5Rhqbx7Q">
       <textarea type="text" class="form-control my-2" required placeholder="Write a reply..." name="comment"></textarea>
       <input type="hidden" name="parantSno" value="{{comment.sno}}">
       {% csrf_token %}
       <input type="hidden" name="PostSno" value="{{readpost.sno}}">
       <button class="btn btn-sm btn-danger" type="submit">Reply</button>
     </form>
   </div>
  </div>
   <div class="reply my-2">
     {% for reply in replyDict|get_val:comment.sno%}
     <div class="row mt-4">
       <div class="col-sm-3 col-lg-1 col-xl-1">
          <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/user.png">
        </div>
        <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
          <div class="my-2 mx-2">
            <b>{{reply.user.username}}</b>
            <span class="badge badge-secondary">{{reply.timeStamp | naturaltime }}</span>
            <pre>{{reply.comment |escape |linebreaks}}</pre>
          </div>
        </div>
        </div>
      {% endfor %}
   </div>
   </div>
  {% endfor %}
  <br>
</div>
</div>
{% endblock body %}




def playvideo(request,slug):
    listlug = Playlist.objects.filter(slug=slug).first()
    print(listlug)
    allvideos = Video.objects.all()
    titles = Playlist.objects.values(playlist_title=listlug)
    print(titles)
    context={'allvideos':allvideos,'listslug':listlug}
    return render(request,'video/playvideo.html',context)




        
        
        # email_subject='Activate your account'
        # email_body='Test body'
        # # server = smtplib.SMTP('smtp.gmail.com:587')
        # # server.ehlo()
        # # server.starttls()
        # smtpserver = smtplib.SMTP("smtp.gmail.com", 587)
        # smtpserver.ehlo()

        # smtpserver.starttls()
        # smtpserver.ehlo()
        # email = EmailMessage(
        # email_subject,
        # email_body,
        # 'metaeducatorshubu@gmail.com',
        # ['email'],
        # )
        # email.send(fail_silently=False)
                
        # sender = "metaeducatorshubu@gmail.com"
        # receiver = ["email"]
        # message = "Hello!"

        # try:
        #     session = smptlib.SMTP('smtp.gmail.com',587)
        #     session.ehlo()
        #     session.starttls()
        #     session.ehlo()
        #     session.login(sender,'shreyaji')
        #     session.sendmail(sender,receiver,message)
        #     session.quit()
        # except SMTPException:
        #     print('Error')
        # content='activate your account'
        # print(email,content)
        # send_mail(
        #     #subject
        #     "testing",
        #     #msg
        #     content,
        #     settings.EMAIL_HOST_USER,
        #     #REC LIST
        #     [email]

        # )

from django.core.mail import BadHeaderError, EmailMessage, send_mail

from django.core import mai



    # if request.method=='POST':
        
        # message= '56952'
        # try:
        #     send_mail('Contact Form',message, settings.EMAIL_HOST_USER,['email'], fail_silently=False )
        # except BadHeaderError:
        #     return HttpResponse('Invalid header found.')
