{%  extends 'base.html' %}

{% block title %}META Source Code {% endblock title %}
{% block body %}
{% load extra  %}
{% block css %}
{% load static %}

<link href="/static/css/blogpost/prism.css" rel="stylesheet">
<style>
    code[class*="language-"],
    pre[class*="language-"] {
        max-height: 614px;
    }

    .commentContainer {
        overflow-x: auto;
    }
</style>
<style>
    .content-holder {
        list-style: none;
        padding: 0;
    }


    .content-holder a {
        color: black;
        text-decoration: none;
    }

    .content-holder li:hover {
        background-color: rgb(239, 239, 240)
    }

    .content-holder-item {
        padding: 23px 12px;
        font-size: 16px;
    }

    li.active {
        background-color: rgb(214, 214, 214);
    }

    .bg-black {
        background-color: black;
    }

    #video-box {
        /* overflow-y: scroll; */
    }

    #content-box {
        max-height: 85vh;
        overflow-y: scroll;

    }

    #course-content-box {
        align-self: flex-start;
        height: 20px;
        position: sticky;
        top: 0;
    }

    .bg-lgrey {
        background-color: rgb(231, 231, 233);
    }
</style>

<style>
    .tab-pane {
        min-height: 344px;
    }

    .nav-link {
        font-weight: bold;
        color: black
    }
</style>

<style>
    .commentReplies {
        background-color: rgb(231, 231, 233);
        margin: 18px 3px;
    }

    .commentReplies img {
        margin: 8px 14px;
    }
</style>
<style>
    #toggleCourse {
        display: none;
    }

    .openCourseHeight {
        height: 76vh !important;
    }

    @media only screen and (max-width: 400px) {
        .nav-link {
            font-size: 16px;
            padding: 9px 6px;
        }

        #course-content-box {
            height: 57px;
        }
    }

    @media only screen and (max-width: 560px) {
        img.rounded-circle {
            height: 0px;
            visibility: hidden;
        }
    }

    @media only screen and (max-width: 768px) {
        #course-content-box {
            height: 46px;
            transition: height 0.4s;
            position: static;
        }

        #content-box {
            height: 70vh;
            visibility: hidden;
        }

        #toggle-button {
            visibility: visible;
        }

        #video-box {
            z-index: 1;
        }

        #sticky-d {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #toggleCourse {
            display: inline;
        }

        .other {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
</style>
<style>
    #video-box2 {
        font-size: 14pt;
        font-family: helvetica;
    }

    #video-box2 img {
        cursor: pointer;
    }

    #video-box2 pre code {
        font-size: 16px;
    }

    .commentContainer pre {
        font-size: 14pt;
        font-family: helvetica;

    }

    #video-box2 h6,
    h5,
    h4,
    h2,
    h3,
    h1 {
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .tab-pane {
        min-height: 100vh;
    }

    div.toolbar-item button {
        color: white !important;
        border: 2px solid white !important;
        margin-right: 23px;
    }

    @media screen and (max-width: 768px) {
        div.toolbar-item button {
            margin-right: 0px;
        }
    }

    #previewModal .modal-dialog {
        max-width: 80%;
    }
</style>


{% endblock css %}
<br>
<br>
<br>
<!-- #for rendering post............................................................................................................. -->

<div class="container-fluid">

    <div class="row" id="sticky-d">
        <!-- Video Holder -->
        <div class="col-md-9 bg-black px-0" id="video-box">
            <div class="container videoContainer embed-responsive embed-responsive-16by9 px-3">
                <iframe class="embed-responsive-item" src="{{watchvideo.video_link}}" allowfullscreen></iframe>
            </div>
            <hr>
        </div>
        <!-- Course content holder -->
        <div class="col-md-3 px-0" id="course-content-box">
            <div class="row mx-0 py-2 px-3 bg-lgrey">

                <h5> Course Content<i class="mx-2 fas fa-plus" id="toggleCourse"></i></h5>
                <button id="togglePlayer" class="btn btn-sm btn-danger mx-3">Hide Player</button>
            </div>
            <div id="content-box">
                <ul class="content-holder">
                    {% for dict in allwatchvideo %}
                    {% for videos in dict %}
                    <a href="{{videos.slug}}">
                        <li class="content-holder-item  active ">{{videos.numbe}}.
                            {{videos.video_title}}
                            <div class="mx-3">
                                <i class="far fa-play-circle"></i> Free YouTube Video
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                    {% endfor %}
            
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-md-9 bg-black px-0" id="video-box2">
        <div class="other bg-light">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                        aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="qna-tab" data-toggle="tab" href="#qna" role="tab" aria-controls="qna"
                        aria-selected="false">Comments</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show mx-4 mt-3 active" id="overview" role="tabpanel"
                    aria-labelledby="overview-tab">

                    <div class="container clearfix py-2 px-0">
                        <a target="_blank" href="https://www.youtube.com/channel/UClqeB8qhY7k0Yaw6KIQI3dg/featured"
                            class="btn btn-danger ">SUBSCRIBE</a>
                        <hr>
                        <h3 class="mb-3">

                            {{watchvideo.numbe}} . {{watchvideo.video_title}}
                        </h3>
                        </p>

                        {{watchvideo.video_desc|safe}}

                        <div class="my-4 d-flex justify-content-between">
                            <a class="btn btn-danger" href="{{prev}}">&larr; Previous </a>
                            <a class="btn btn-danger" href="{{next}}">Next &rarr;</a> 
                        </div>
                    </div>
                </div>
                <!-- #for posting comment.......................................................................................... -->


                <div class="tab-pane fade mx-4 mt-3" id="qna" role="tabpanel" aria-labelledby="qna-tab">
                    <div id="comments" class="container px-0">
                        <div class="container mt-4 mb-0 px-0">
                            <!-- #for posting comment.......................................................................................................... -->
                            {% if user.is_authenticated %}

                            <form action="/playvideo/postcomment/" method="POST">
                                <div class="col-sm-3 col-lg-1 col-xl-1">

                                    <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/users.png">
                                </div>
                                <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
                                    <div class="my-2 mx-2">
                                        <h4> {{user.username}}</h4>
                                        <input type="text" class="form-control" id="comment" name="comment" required
                                            placeholder="Enter your comment here.">
                                        <input type="hidden" name="VideoSno" value="{{watchvideo.sno}}">
                                        <input type="hidden" name="parantSno" value="">
                                    </div>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger ml-2">Post</button>
                                </div>
                            </form>
                        </div>



                        <!-- for those who are not login .................................................................................................. -->

                        <div class="container">
                            {% else %}
                            <h5>Please login to comments</h5>
                            <div class="my-4">
                                <h2><label for="inputAddress">You must be logged in to post a comment!</label></h2>
                                <button type="submit" class="btn btn-danger my-2 my-sm-0 ml-2" data-toggle="modal"
                                    data-target="#loginModal">Login Here</button>
                                <button type="submit" class="btn btn-danger my-2 my-sm-0 ml-2" data-toggle="modal"
                                    data-target="#signupModal">Signup Here</button>
                            </div>
      
                            <div class="col-sm-3 col-lg-1 col-xl-1">
                                <img class="w-100 d-block mx-auto rounded-circle " src="/static/image/user.png">
                            </div>
                            <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
                                <div class="my-2 mx-2">
                                    <textarea type="text" class="form-control" id="comment" name="comment"
                                        placeholder="Enter your comment here."></textarea>
                                </div>
                                <button class="btn btn-danger my-2 btn-sm ml-2" type="button" disabled> Post </button>
                            </div>
                            {% endif %}



                            <!-- # comment senction ............................................................................................................... -->

                            <!-- # comment senction ............................................................................................................... -->

                            <h3>Comments ({{comments.count}})</h3>
                            {% load humanize %}
                            {% for comment in comments  reversed %}

                            <div style="background-color:rgb(232, 228, 227);">
                                <div class="row mt-4 mr-2">
                                    <div class="col-sm-3 col-lg-1 col-xl-1 mt-2 ml-2">
                                        <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/user.png">
                                    </div>
                                    <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
                                        <div class="my-2 mx-2">
                                            <b>{{comment.user.username}}</b> <span
                                                class="badge badge-secondary">{{comment.timeStamp | naturaltime }}</span><br>
                                            <pre>{{comment.comment |escape |linebreaks}}</pre>
                                        </div>
                                        {% if user.is_authenticated %}
                                        <button class="btn btn-danger btn-sm ml-2 my-2 " type="button"
                                            data-toggle="collapse" data-target="#replybox{{comment.sno}}"
                                            aria-expanded="false" aria-controls="replybox{{comment.sno}">
       Add Reply
     </button>
   </div>
 </div>
 {% else %}
 <!-- <button class="btn btn-danger btn-sm"  disabled> -->
 <button class="btn btn-danger my-2 btn-sm ml-5" type="button" disabled> Add Reply </button>


</div>
</div>
<!-- replies are here ............................................................................................................-->

{% endif %}
<div>
<div class="collapse ml-5 " id="replybox{{comment.sno}}">
                                            <form action="/playvideo/postcomment/" method="post"><input type="hidden"
                                                    name="csrfmiddlewaretoken"
                                                    value="VepBHkgTaqCtjKhTEDXpeluN8EnGeraQesxlOaIswdeXoBcn5q8O7UAU5Rhqbx7Q">
                                                <div class="my-2 mx-2 ml-5">
                                                    <input type="text" class="form-control" required
                                                        placeholder="Write a reply..." name="comment">
                                                </div>
                                                <input type="hidden" name="parantSno" value="{{comment.sno}}">
                                                {% csrf_token %}
                                                <input type="hidden" name="VideoSno" value="{{watchvideo.sno}}">
                                                <button class="btn btn-sm btn-danger ml-5" type="submit">Reply</button>
                                            </form>

                                    </div>
                                    <div class="reply my-2 ml-5 y-2">
                                        {% for reply in replyDict|get_var:comment.sno%}
                                        <div class="row mt-4">
                                            <div class="col-sm-3 col-lg-1 col-xl-1">
                                                <img class="w-100 d-block mx-auto rounded-circle"
                                                    src="/static/image/user.png">
                                            </div>
                                            <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
                                                <div class="my-2 mx-2">
                                                    <b>{{reply.user.username}}</b>
                                                    <span
                                                        class="badge badge-secondary">{{reply.timeStamp | naturaltime }}</span>
                                                    <pre>{{reply.comment |escape |linebreaks}}</pre>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <script>
            courseContainer = document.querySelector('#content-box');
            stickyD = document.getElementById('sticky-d')
            toggleCourse.addEventListener('click', () => {
                console.log('click');
                box = document.querySelector('#course-content-box');
                // Opening the container
                if (!box.classList.contains('openCourseHeight')) {
                    courseContainer.style.visibility = 'visible';
                    box.classList.add('openCourseHeight');
                    toggleCourse.classList.add('fa-minus');
                    toggleCourse.classList.remove('fa-plus');
                    stickyD.classList.remove('position-sticky')
                    stickyD.classList.add('position-static')
                    stickyD.scrollIntoView();
                }
                else {
                    courseContainer.style.visibility = 'hidden';
                    box.classList.remove('openCourseHeight');
                    toggleCourse.classList.remove('fa-minus');
                    toggleCourse.classList.add('fa-plus');
                    stickyD.classList.remove('position-static')
                    stickyD.classList.add('position-sticky')

                }
            })
        </script>

        <script>
            // Making all images inside main box responsive and adding border
            let mainVidBox = document.getElementById('video-box2')
            Array.from(mainVidBox.getElementsByTagName('img')).forEach((element, ind) => {
                element.classList.add('img-fluid')
                element.classList.add('border');
                element.classList.add('border-dark');
                element.classList.add('rounded')
            });

            // Hide/Show Player
            togglePlayer.addEventListener('click', () => {
                sd = document.getElementById("sticky-d");
                vbox = document.getElementById("video-box");
                if (window.screen.width > 768) {
                    if (sd.style.height == "") {
                        sd.style.height = 0;
                        vbox.style.visibility = "hidden";
                        sd.style.display = ""
                        togglePlayer.innerText = "Show Player";
                    }
                    else {
                        sd.style.height = "";
                        vbox.style.visibility = "visible";
                        togglePlayer.innerText = "Hide Player";
                    }
                }
                // Write the mobile logic
                else {
                    if (vbox.style.display != "none") {
                        vbox.style.display = "none";
                        togglePlayer.innerText = "Show Player";
                    }
                    else {
                        vbox.style.display = "block";
                        togglePlayer.innerText = "Hide Player";
                    }
                }

            })

            imgs = document.getElementsByTagName('img');
            Array.from(imgs).forEach((element) => {
                element.addEventListener('click', (e) => {
                    console.log("clicked", e.target.src);
                    modalImage.src = e.target.src;
                    $('#previewModal').modal('show')
                })
            })

        </script>


    </div>
</div>
{% endblock body %}