{%  extends 'base.html' %}

{% block title %} Videos Search Results {% endblock title %}
{% load static %}

{% block body %}

<div class="container my-3 ">
     <h1>META blog Search Results:</h1>
    {% if allvideos|length < 1 %}
     <h3> No Search Results founds:</h3>

     Suggestion:
     <ul>
     <li>Try different keys.</li>
     <li>Trt more general keys.</li>
     <li>Try fewer keywords.</li>
     </ul>
    {% endif %}
    </div>



<div class="container my-3 mr ">
</div>
<div class="container">
  <div class="row mb-2">
    {% for allvideos in allvideos %}
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <!-- <strong class="d-inline-block mb-2 text-success">Article by {{Video.author}}</strong> -->
          <h5 class="mb-0"><a class="text-dark" href="/playvideo/{{allvideos.slug}}">{{allvideos.playlist_title}} </a> </h5>
          <hr>
          <h5 class="mb-0"> <a class="text-dark" href="/playvideo/{{allvideos.slug}}">{{allvideos.numbe}}.{{allvideos.video_title}} </a></h5>
          <p class="mb-1 text-muted"><b><i>{{allvideos.timeStamp}}</i></b></p>
          <p class="preview"><a class="text-dark" href="/playvideo/{{allvideos.slug}}">{{allvideos.video_desc |safe| truncatechars:100}}</a></p>
          <a class="btn btn-primary my-2" href="/playvideo/{{allvideos.slug}}"><b> <i>View Source Code</i></b> </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>










{% endblock body %}