{%  extends 'base.html' %}

{% block title %} META blog Reading {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
{% load extras  %}
{% block css %}

<link href="/static/css/blogpost/prism.css" rel="stylesheet">
<style>


  pre {
    max-height: 59vh;
  }

  .commentContainer pre {
    font-size: 14pt;
    font-family: helvetica;

  }

  @media only screen and (max-width: 575px) {
    img.rounded-circle {
      height: 0px;
      visibility: hidden;
    }
  }
</style>

{% endblock css %}

<!-- #for rendering post............................................................................................................. -->

<br>
<br>
<br>

<div role="main" class="container">
  <br>
  <div class="blog-post">
    <h3 class="blog-post-title">{{readpost.title}} </h3>
    <p class=" badge badge-secondary">{{readpost.timeStamp}} </p>
    <h6>by {{readpost.author}}</h6>
    <div class="pb-4 mb-4 font-italic border-bottom"> {{readpost.content| safe}} </div>
  </div>



  <!-- #for posting comment.......................................................................................................... -->
 
    {% if user.is_authenticated %}

    <form action="/blogread/postcomment/" method="POST">
      <div class="col-sm-3 col-lg-1 col-xl-1">

        <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/users.png">
      </div>
      <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
        <div class="my-2 mx-2">
          <h4> {{user.username}}</h4>
          <input type="text" class="form-control" id="comment" name="comment" required
            placeholder="Enter your comment here.">
          <input type="hidden" name="PostSno" value="{{readpost.sno}}">
          <input type="hidden" name="parantSno" value="">
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger ml-2">Post</button>
      </div>
    </form>
  </div>



<!-- for those who are not login .................................................................................................. -->

<div class="container">
  {% else %}
  <h5>Please login to comments</h5>
  <!-- <input type="text" class="form-control" id="comment" name="comment" required placeholder="Enter your comment here.">
  <div class="btn-group btn-" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-danger" disabled>Post</button>
  </div> -->
  <div class="col-sm-3 col-lg-1 col-xl-1">
    <img class="w-100 d-block mx-auto rounded-circle " src="/static/image/user.png">
  </div>
  <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
    <div class="my-2 mx-2">
      <textarea type="text" class="form-control" id="comment" name="comment"
        placeholder="Enter your comment here."></textarea>
    </div>
    <button class="btn btn-danger my-2 btn-sm ml-2" type="button" disabled> Post </button>
  </div>
  {% endif %}


  <!-- # comment senction ............................................................................................................... -->


  <h3>Comments ({{comments.count}})</h3>
  {% load humanize %}
  {% for comment in comments  reversed %}
  <div style="background-color:rgb(232, 228, 227);">
    <div class="row mt-4 mr-2">
      <div class="col-sm-3 col-lg-1 col-xl-1 mt-2 ml-2">
        <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/user.png">
      </div>
      <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
        <div class="my-2 mx-2">
          <b>{{comment.user.username}}</b> <span
            class="badge badge-secondary">{{comment.timeStamp | naturaltime }}</span><br>
          <pre>{{comment.comment |escape |linebreaks}}</pre>
        </div>
        {% if user.is_authenticated %}
        <button class="btn btn-danger btn-sm ml-2 my-2 " type="button" data-toggle="collapse"
          data-target="#replybox{{comment.sno}}" aria-expanded="false" aria-controls="replybox{{comment.sno}}">
          Add Reply
        </button>
      </div>
    </div>
    {% else %}
    <!-- <button class="btn btn-danger btn-sm"  disabled> -->
    <button class="btn btn-danger my-2 btn-sm ml-5" type="button" disabled> Add Reply </button>


  </div>
</div>
<!-- replies are here ............................................................................................................-->

{% endif %}
<div>
  <div class="collapse ml-5 " id="replybox{{comment.sno}}">
    <form action="/blogread/postcomment/" method="post"><input type="hidden" name="csrfmiddlewaretoken"
        value="VepBHkgTaqCtjKhTEDXpeluN8EnGeraQesxlOaIswdeXoBcn5q8O7UAU5Rhqbx7Q">
      <div class="my-2 mx-2 ml-5">
        <input type="text" class="form-control" required placeholder="Write a reply..." name="comment">
      </div>
      <input type="hidden" name="parantSno" value="{{comment.sno}}">
      {% csrf_token %}
      <input type="hidden" name="PostSno" value="{{readpost.sno}}">
      <button class="btn btn-sm btn-danger ml-5" type="submit">Reply</button>
    </form>

  </div>
  <div class="reply my-2 ml-5 y-2">
    {% for reply in replyDict|get_val:comment.sno%}
    <div class="row mt-4">
      <div class="col-sm-3 col-lg-1 col-xl-1">
        <img class="w-100 d-block mx-auto rounded-circle" src="/static/image/user.png">
      </div>
      <div class="col-md-8 col-lg-10 col-xl-10 commentContainer">
        <div class="my-2 mx-2">
          <b>{{reply.user.username}}</b>
          <span class="badge badge-secondary">{{reply.timeStamp | naturaltime }}</span>
          <pre>{{reply.comment |escape |linebreaks}}</pre>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endfor %}
<br>
</div>
</div>
{% endblock body %}